html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}
.coming-soon {
  background-color: inherit;
  color: #333;
  text-align: center;
  padding: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coming-soon h1 {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 20px;
}

.coming-soon p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
}